@CHARSET "UTF-8";

.margin-top-0 {margin-top: 0;}
.margin-top-5 {margin-top: 5px;}
.margin-top-10 {margin-top: 10px;}
.margin-top-15 {margin-top: 15px;}
.margin-top-20 {margin-top: 20px;}
.margin-top-25 {margin-top: 25px;}
.margin-top-30 {margin-top: 30px;}
.margin-bottom-0 {margin-bottom: 0;}
.margin-bottom-5 {margin-bottom: 5px;}
.margin-bottom-10 {margin-bottom: 10px;}
.margin-bottom-15 {margin-bottom: 15px;}
.margin-bottom-20 {margin-bottom: 20px;}
.margin-bottom-25 {margin-bottom: 25px;}
.margin-bottom-30 {margin-bottom: 30px;}

.margin-left-0 {margin-left: 0;}
.margin-left-5 {margin-left: 5px;}
.margin-left-10 {margin-left: 10px;}
.margin-left-15 {margin-left: 15px;}
.margin-left-20 {margin-left: 20px;}
.margin-left-25 {margin-left: 25px;}
.margin-left-30 {margin-left: 30px;}
.margin-right-0 {margin-right: 0;}
.margin-right-5 {margin-right: 5px;}
.margin-right-10 {margin-right: 10px;}
.margin-right-15 {margin-right: 15px;}
.margin-right-20 {margin-right: 20px;}
.margin-right-25 {margin-right: 25px;}
.margin-right-30 {margin-right: 30px;}

/* 顶层容器 */
.jfa-page-box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

/* 左侧容器 */
.jfa-left-box {
	position: fixed;
	width: 180px;
	height: 100%;
	/*background: #363636;*/
	background: #495060;
	overflow: auto;
	z-index: 1001;
	transition: width .28s;

	box-shadow: 0 1px 2px rgba(151,151,151,0.58);
	// box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	-webkit-transition: .4s cubic-bezier(.18, .81, .3, .89);
}

/* 右侧容器*/
.jfa-right-box {
	position: relative;
	height: 100%;
	background: #fff;
	margin-left: 180px;
	transition: left .28s;
	/*overflow: hidden;*/
}

/* 头部容器 */
.jfa-header-box {
	position: relative;
	background: #f7f7f7;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	border-bottom: 1px solid #d6d6d6;
}

/* 内容容器 */
.jfa-content-box {
    padding-top:50px;
    padding-left:100px;
	height:800px;
	width:1000px;
}
.select{  /*查询框*/
	width:500px;
	height:80px;
	font-size:20px;
	text-align:left;
}
.table1{ 
	font-size:20px;
	
}

.table3 td{   /*显示表格*/
	padding:10px;
}
.table3{
	font-size:20px;
	width:1200px;
	
}
.table3 a{
	color:black;

}
.table3 a:hover{
	color:#2d8cf0;
	text-decoration:none;
}
.addUser{  /*添加用户*/
	height:40px;
	font-size:20px;
}
.addUser a{
	color:black;
}
.addUser a:hover{
	color:#2d8cf0;
	text-decoration:none;
}

/*添加用户页面*/
.addUserform{
	padding-left:300px;
}
.addUser1{
	font-size:20px;
}
.addUser1 label{
	font-size:20px;
}
.addUser1 td{
	height:25px;
}
/*添加群聊*/
.addGroup{
	padding-left:300px;
}
.addGroup1{
	font-size:20px;
}
.addGroup1 label{
	font-size:20px;
}
.addGroup1 td{
	height:25px;
}

/*添加菜单*/
.addMenu{
	padding-left:300px;
}
.addMenu{
	padding-left:300px;
}
.addMenu1{
	font-size:20px;
}
.addMenu1 label{
	font-size:20px;
}
.addMenu1 td{
	height:25px;
}

/*群聊页面*/

.group{  /*查询框*/
	width:500px;
	height:80px;
	font-size:20px;
	text-align:left;
}
.table1{ 
	font-size:20px;
	
}

.table3 td{   /*显示表格*/
	padding:10px;
}
.table3{
	font-size:20px;
	width:1200px;
	
}
.table3 a{
	color:black;

}
.table3 a:hover{
	color:#2d8cf0;
	text-decoration:none;
}
.addGroup{  /*添加群聊*/
    
	height:50px;
	font-size:20px;
}
.addGroup a{
	color:black;
}
.addGroup a:hover{
	color:#2d8cf0;
	text-decoration:none;
}


/*菜单页面*/

.menu{  /*查询框*/
	width:500px;
	height:80px;
	font-size:20px;
	text-align:left;
}
.table1{ 
	font-size:20px;
	
}

.table3 td{   /*显示表格*/
	padding:10px;
}
.table3{
	font-size:20px;
	width:1200px;
	
}
.table3 a{
	color:black;

}
.table3 a:hover{
	color:#2d8cf0;
	text-decoration:none;
}
.addMenu{  /*添加群聊*/
    
	height:50px;
	font-size:20px;
}
.addMenu a{
	color:black;
}
.addMenu a:hover{
	color:#2d8cf0;
	text-decoration:none;
}

/*修改用户*/

/*修改用户页面*/
.updateUserform{
	padding-left:300px;
}
.updateUser1{
	font-size:20px;
}
.updateUser1 label{
	font-size:20px;
}
.updateUser1 td{
	height:25px;
}
.updateUser1 tr{
	height:60px;
}

/*修改群聊页面*/
.updateGroupform{
	padding-left:300px;
}
.updateGroup1{
	font-size:20px;
}
.updateGroup1 label{
	font-size:20px;
}
.updateGroup1 td{
	height:25px;
}
.updateGroup1 tr{
	height:60px;
}

/*修改菜单页面*/
.updateMenuform{
	padding-left:300px;
}
.updateMenu{
	font-size:20px;
}
.updateMenu label{
	font-size:20px;
}
.updateMenu td{
	height:25px;
}
.updateMenu tr{
	height:60px;
}

.jfa-logo {
	height: 50px;
	padding: 10px 0 0 35px;
	font-size: 24px;
	color: #24A0CF;
	border-bottom: 1px solid #464646;
}

.jfa-menu-box {
	font-size: 14px;
	margin-top: 12px;
}
.jfa-menu-box a {
	text-decoration: none;
	//  color: #ffffffb3;
	color: hsla(0,0%,100%,.7);
	// letter-spacing: 1px;
	font-weight: 200;
}

.jfa-menu-box a:hover,
.jfa-cur-menu {
	background: #2d8cf0!important;
}

.jfa-main-menu {
	position: relative;
	display: block;
	font-size: 15px;
	line-height: 40px;
	padding-left: 18px;
	// color: #ffffffb3;
	color: hsla(0,0%,100%,.7);
	cursor: pointer;
}
.jfa-main-menu .left-icon {
	margin-right: 12px;
}
.jfa-main-menu .right-icon {
	// margin-left: 42px;
	position: absolute;
	right: 12px;
	top: 13px;
}

.jfa-sub-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #363e4f;
}
.jfa-sub-menu a {
	display: block;
	padding-left: 50px;
	// color: #ffffffb3;
	color: hsla(0,0%,100%,.7);
	line-height: 40px;
	font-size: 14px;
	cursor: pointer;
}

/* header style */
.jfa-crumbs {
	float: left;
	margin-right: 22px;
}

.jfa-search-box {
	display: none;
	float:left;
	position: relative;
	top: -2px;
}
.jfa-search {
	height:32px;
	width: 150px;
	border: 1px solid #e6e6e6;
	border-radius: 10px;
	padding: 0 10px;
	font-size: 13px;
}

.jfa-header-right {
	position: absolute;
	top: 0;
	right: 19px;
}
/*.jfa-user-name {*/
	/*margin-right: 20px;*/
	/*font-size: 16px;*/
/*}*/
.jfa-dropdown {
	display: inline-block;
	// font-size: 18px;
}
.jfa-dropdown:hover {
	text-decoration: none;
}
.jfa-dropdown span {
	margin-right: 8px;
}
.jfa-avatar {
	display: inline-block;
	position: relative;
	top: -2px;
	height: 35px;
	width: 35px;
	border-radius: 3px;
	border: 1px solid #d6d6d6;
	// border: 1px solid #ccc;
	margin-right: 6px;
}
.dropdown-menu {
	text-align: center;
	min-width: 100px;
}

/* content style */
.jfa-content {
	background-color: #fff;
	//padding: 1px;
	min-height: 100%;
	border: 1px solid #e9eaec;
	padding: 0 30px;
}
.jfa-table-box {

}
.jfa-operation-button a,
.jfa-operation-button button,
.jfa-operation-button input {
	margin-right: 5px;
}
.jfa-operation-button a {
	text-decoration: none;
	cursor: pointer;
	font-size: 14px;
}

/* 内容区域的工具栏 */
.jfa-toolbar {
	margin: 25px 0 15px 0;
	float: right;
}
.jfa-toolbar button,
.jfa-toolbar a,
.jfa-toolbar input {
	margin-right: 10px;
}


.right-iframe
 {  
     border: 2px solid pink; 
	
}