@CHARSET "UTF-8";

body{
   background-size:cover;
   margin:0 auto;
   text-align:center;
   text-align: center; /*IE*/
   text-align: -moz-center; /*Firefox*/
   text-align: -webkit-center; /*Chrome*/
   background-color:#e9ebee;
}
.container{    /*整体盒子*/
	margin:0 auto;
	width:1440px;
}
.center{/*中心盒子*/
	height:750px;	
	
}
.navi a{
	color:white;
}
.navi a:link{   
	
	height:50px;
	text-align:center;
	font-size:20px;
	color:white;
	text-decoration:none;           
}
.left{ /*左侧导航栏*/
    margin-top:-5px;
	height:500px;
	width:250px;
	float:left;
	background-color:#0098E0;
	
}
/*左边导航栏菜单样式*/
.left ul{
	padding:0px;
}
.left li{	
	list-style-type:none;
	padding:20px;
	border-bottom:1px #E6E0C8 solid;
}
.left a{
	text-align:center;
	font-size:20px;
	text-decoration:none;
	color:white;

}
.myInformation{ /*右边内容区*/
    background-size:cover;
	background-image:url(../image/background/back1.jpg);  
    float:right;
	height:700px;
	width:1170px;
	margin-top:-5px;
	padding-top:20px;
}
.information{
	margin-top:180px;
	margin-left:90px;
	float:left;
	width:230px;
	height:300px;
	font-family:黑体；
}
.information ul{		
	float:left;	
	padding-left:5px;
}
.information li{		
	text-align:left;
	height:50px;
	font-size:20px;
	list-style-type:none;
	padding:20px;
}
.pic{	
	width:130px;
	height:130px;
	
	margin-top:80px;
}


/*修改个人信息*/
.changeInformation{ 
	background-size:cover;
	background-image:url(../image/background/back1.jpg); 
    background-color:white;
    float:right;
	height:700px;
	width:1170px;
}
.form{		
	float:left;
	height:580px;
	width:500px;
	font-size:20px;
	padding-top:50px;
	padding-left:200px;
}
.table{
	font-size:20px;	
}
.input{
	font-size:20px;
	height:30px;
	border-radius:5px;
	width:250px;  /*输入框class*/	
	color:black;
}
.button1{  /*按钮*/
    font-size:20px;
    width:350px;
    height:40px;
    border-radius:5px;
    background-color:#30b7ee;   	
}

.tr{
	text-align:left;
	folat:left;
	height:70px;	
}

.button{
	margin-left:-170px;
	
}

/*消息中心*/
.myMessage{ /*右边内容区*/
    background-size:cover;
	background-image:url(../image/background/back1.jpg); 
    
    float:right;
	height:700px;
	width:1170px;
}

.myMessage {
	font-size:20px;
	padding-top:20px;
}
.mycenter{
	margin-top:50px;
}

/*表情*/
.expression1{
	float:right;
	height:200px;
	width:200px;
	margin-right:50px;
	margin-top:270px;
	background-size:cover;
	background-image:url(../image/expression/information.gif); 
}
.expression2{
	float:right;
	height:200px;
	width:200px;
	margin-top:370px;
	margin-right:50px;
	background-size:cover;
	background-image:url(../image/expression/information.gif); 
}
.expression3{
	float:right;
	height:200px;
	width:200px;
	margin-right:50px;
	margin-top:470px;
	background-size:cover;
	background-image:url(../image/expression/change.gif); 
}