@CHARSET "UTF-8";

.top{
	background-image:url(../image/background/m4.png); 
	height:250px;
	background-repeat:no-repeat; 
   background-position: center;
   background-size:cover;
}
.navi{
   	
	height:50px;
	background-color:#0674BB;
}
.text1{
	font-color:white;
}
.n1{
	
	float:left;
	width:100px;
	height:50px;
	padding-top:12px;
	padding-left:190px;
}
.n2{
	float:left;
	width:150px;
	height:50px;
	padding-top:12px;
	padding-left:190px;
}
.n3{
	float:left;
	width:150px;
	height:50px;
	padding-top:12px;
	padding-left:190px;
}
.n4{
	float:left;
	width:100px;
	height:50px;
	padding-top:12px;
	padding-left:190px;
}
a:link{
	font-color:black;
}