@CHARSET "UTF-8";

.top{
	background-image:url(../image/background/m3.PNG); 
	height:300px;
	background-repeat:no-repeat; 
   background-position: center;
   background-size:cover;
}
.navi{
	color:white;
	height:50px;
	background-color:#3f48cc;
}
.n1{
	color:white;
	float:left;
	width:100px;
	height:50px;
	padding-top:10px;
	padding-left:190px;
}
.n2{
	float:left;
	width:150px;
	height:50px;
	padding-top:10px;
	padding-left:190px;
}
.n3{
	float:left;
	width:150px;
	height:50px;
	padding-top:10px;
	padding-left:190px;
}
.n4{
	float:left;
	width:100px;
	height:50px;
	padding-top:10px;
	padding-left:190px;
}
