body
{

}

/*集体添加滚动条*/
.chose-list,.message-list,.item-list,.message-list,
.group-chose-list,.group-message-list,.group-user
{
	overflow-y:scroll;
}

/*群组层*/
.group-area
{
	width:1000Px;
	display: flex;
	flex-direction: row;
	}
/*群组的显示*/
.group
{
	width:260px;
	height:10px;
	padding:40px;
	border-radius: 10px;
	background:deepskyblue;
}
/*蒙版*/
.overlay
{
	z-index: 3;
	position: fixed;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	background: transparent;
}
.overlay .overlay-showarea
{
	text-align: left;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay .chat-area,.overlay .group-chat-area
{
	height: 540px;
	display: flex;
	flex-direction:row;
	
	overflow: hidden;
	border-radius:7px;
	box-shadow: 6px 7px 5px rgba(0,0,0,0.2);
}
#MessageArea .detail-item:not(.active),
#GroupMessageArea .group-detail-item:not(.active)
{
	display:none !important;
}




.page-moment
{
	min-width: 100%;
	min-height: 100%;
	
}

.group-detail-item
{
	display: flex;
	flex-direction: row;
}
.chose-list ,
.group-chose-list
{
    width: 230px;
    height: 100%;
    background: #d9d9d9;
    
    
    padding:5px;
}

.group-detail-list,
.detail-list
{
	width: 600px;
	height: 100%;
	background: gray;
	
}

.item
{
	width: 200px;
	height: 100%;
    
}
.item .button-area
{
	text-align: right;
	background: white;
	padding: 2px;
	height: 20px;	
}
.item .button-area .btn
{
	height: 16px;
	font-size: 12px;
	border-radius: 4px;
	background: deepskyblue;
}

.item-list,
.message-list
{
	width: 100%;
	height: 425px; 
    padding: 5px;
    
    font-size:0.4em;
}
.item-list
{
	background: #fbfbfb;
}
.message-list
{
	background: transparent;
}



/*
 * 开始群聊的css
 */
#GroupMessageArea
{
	background:gray;
}
.group-detail-list
{
	background: white;
	height: 100%;
	width: 800px;
}

.group-detail-item
{
	height: 100%;
	width: 100%;
}
.group-detail-message
{
	width: 600px;
	height: 100%;
} 


/*
 * 
 * 集中处理左侧边栏
 * 
 * */
.chose-item ,
.group-chose-item
{
	margin: 5px;
    padding: 5px 9px 5px 5px;
    /*line-height: 40px;*/
	font-size:14px;
	border-radius: 5px;
	overflow: hidden;
	/*font-weight: 600;*/
}
.chose-item *,
.group-chose-item *
{
	vertical-align: middle;
}
.chose-item .head-img,
.group-chose-item .head-img
{
	margin-right: 3px;
	width: 40px;
    height: 40px;
    border-radius: 100%;
}
/*限定名字显示长度*/
.chose-item .talker-name,
.group-chose-item .group-name
{
	display: inline-block;
	overflow: hidden; 
    text-overflow: ellipsis;
    white-space:nowrap;
    width: 5.9em; 
}
/*关闭按钮的样式*/
.cls-btn
{
	width: 2em;
	height: 2em;
	background-size: 2em 2em;
	vertical-align: middle;
	border-radius:50% ;
	background-image: url("../../pic/blackClsBtn.svg");	
}
.cls-btn:hover
{
	background-image: url("../../pic/redClsBtn.svg");	
}

/*消息提醒的样式*/
.show-newnum
{content: "ads";
	color:white;
	border-radius: 80px;
	padding: 0 0;
	background: red;
}
/*已激活选项卡的样式*/
.chose-item.active,
.group-chose-item.active
{
	background: rgb(250,250,250) !important;
}
/*鼠标滑过未激活新选项卡的样式*/
.chose-item:hover,
.group-chose-item:hover
{
	background: rgba(248,248,248,0.55);
}
/*
 *鼠标移动上去显示 关闭按钮
 */

.chose-item:hover .cls-btn,
.group-chose-item:hover .cls-btn
{
	display: inline-block !important;	
}
.chose-item:hover .show-newnum,
.group-chose-item:hover .show-newnum
{
	display: none;
}


/*
 * 
 *集中处理中间部分
 * 
 * 
 */
.group-detail-item,
.detail-item
{
	height: 100%;
	background-image: url("../../pic/back.jpg");
}
.group-detail-item .group-detail-title,
.detail-item .detail-title
{
	height: 80px;
	background: rgba(245,245,245,0.7);
	
	font-size: 0.6em;
	font-weight: 600;
}

.group-detail-item .group-detail-title *,
.detail-item .detail-title *
{
	vertical-align: middle;
}
.group-detail-item .group-detail-title .head-img,
.detail-item .detail-title .head-img
{
	border-radius:50% ;
	width: 50px;
	height: 50px;
	margin: 15px 25px 15px 10px;
}
.group-detail-item .group-message-list,
.detail-item .message-list
{
	height:280px;
}

/*
 *开始聊天的部分了
 */
/*整体聊天的li*/

.message-item,
.group-message-item
{
	position: relative;
	font-size: 0;
	margin-bottom: 10px;
	min-height: 68px;
}
.message-item.self,
.group-message-item.self
{
	text-align: right;
    padding-right: 30px;
}
.message-item:not(.self),
.group-message-item:not(.self)
{
	text-align: left;
    padding-left: 30px;   
}
/*头像*/
.message-item .head-img,
.group-message-item .head-img
{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	border: none;
	vertical-align: middle;
}
.message-item.self .head-img,
.group-message-item .head-img
{}
.message-item:not(.self) .head-img,
.group-message-item:not(.self) .head-img
{}
/*对话内容小标题*/
.message-item .message-title,
.group-message-item .message-title
{
	position: absolute;
	top: -2px;
    line-height: 24px;
    font-size: 12px;
    white-space: nowrap;
    color: #999;
	font-style: normal;
}
.message-item.self .message-title,
.group-message-item.self .message-title
{
	left: auto;
	right: 30px;
	text-align: right;
} 
.message-item:not(.self) .message-title,
.group-message-item:not(.self) .message-title
{
    left: 30px;
    text-align: left;
}

/*对话内容的显示部分*/
.message-item .message-content,
.group-message-item .message-content
{
	position: relative;
	vertical-align: top;
	font-size: 14px;
	display: inline-block;
	word-break: break-all;
	border-radius: 3px;
	padding: 8px 15px;
	margin-top: 25px;
	line-height: 22px;
}
.message-item.self .message-content,
.group-message-item.self .message-content
{
	right:60px;
    margin-left: 0;
    text-align: left;
    background-color: #5FB878;
    color: #fff;
}
.message-item.self .message-content:after,
.group-message-item.self .message-content:after
{
    content: '';
    position: absolute;
    top: 13px;
    width: 0;
    height: 0;
    border-style: solid dashed dashed;
    border-color: #e2e2e2 transparent transparent;
    overflow: hidden;
    border-width: 10px;
   	left: auto;
    right: -10px;
    border-top-color: #5FB878;
}

.message-item:not(.self) .message-content,
.group-message-item:not(.self) .message-content
{
	left:60px;
    background-color: #e2e2e2;
    color: #333;
}
.message-item:not(.self) .message-content:after,
.group-message-item:not(.self) .message-content:after
{
	content: '';
    position: absolute;
    left:-10px;
    top: 13px;
    width: 0;
    height: 0;
    border-style: solid dashed dashed;
    border-color: #e2e2e2 transparent transparent;
    overflow: hidden;
    border-width: 10px;
}

/*工具栏*/
.group-detail-item .tool,
.detail-item .tool
{
	background:gray;
	font-size:0.5em;
	height :25px;
}
.group-detail-item .message-input,
.detail-item .message-input
{
	margin: 2px;
	width: 99%;
	height:100px;
	background: transparent;
	border:0px;
	font-size:0.3em;
}
.group-detail-item .button-area,
.detail-item .button-area
{
	font-size: 0.4em;
	font-weight: 600;
	text-align: right;
	height: 50px;
}
.group-detail-item .button-area .btn,
.detail-item .button-area .btn
{
	padding: 2px 15px;
	height: 28px;
	border-radius:5px; 
	color:#708090;
	border:1px solid #708090;
	background: transparent;
	cursor: default;
	
}
.group-detail-item .button-area .active-btn,
.detail-item .button-area .active-btn
{
	cursor:pointer;
	color: white!important;
	background: #42B00B!important;
}
.group-detail-item .button-area .send-btn,
.detail-item .button-area .send-btn
{
	margin: 20px 15px 0px 15px;
}


/*
 *
 * 私聊的右侧边栏
 *  
 * */
.item .item-top
{
	width: 100%;
	height: 95px;
	background: #d6d6d6;
}
.item .item-item 
{
	position :relative;
	width: 100%;
	height:40px;
	margin: 5px 0;
}
.item-item .head-img
{
	width: 40px;
	height:40px;
	border-radius: 4px;
	overflow: hidden;
	float: left;
}
.item-item .head-img img,
{
	width: 100%;height:100%;
	vertical-align: top;
}

.item .top-panel.active
{
	background: gold;
}
.item .list-item:not(.active)
{
	display: none;
}

.item-item .delete-btn
{
	position: absolute;
	right :10px;
	top:5px;
}

.delete-btn
{
	width: 15px;
	height: 15px;
	background-size: 15px 15px;
	border-radius:50% ;
	background-image: url("../../pic/delete.svg");	
}
/**
 * 群聊的右边栏
 * */

.group-users
{
	background: grey;
	width: 200px;
	height: 100%;
}
.group-user-top
{
	width: 100%;
	height:51px
}
.group-user
{
	font-size:12px;
	height: 490px;
}

.group-user .user-list
{
	overflow: hidden;
	width:170px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}
.group-user .user-item
{
	margin: 2px;
	text-align: center;
	width: 3.15em;
	height: 5.3em;
	overflow: hidden;
}
.group-user .user-item-scal
{
	text-align: center;
	width: 4.2em;
	height: 8em;
	transform: scale(0.75) translate(-19%, -17%);
}
.group-user .user-item .head-img
{
	width: 4.02em;
	height: 4.02em;
	border-radius: 15px;
	overflow: hidden;
}
.group-user .user-item .name

{
	text-align: center;
	width: 4.02em;
}





/*手型鼠标*/
.delete-btn:hover,
.item-btn:hover,
.chose-item:hover,
.group-chose-item:hover
{
	cursor:pointer !important;
}
